In [ ]:
#1000) A+B
print(sum(map(int, input().split())))

In [ ]:
#1001) A-B
s = list(map(int, input().split()))
print(s[0]-s[1])

In [ ]:
#1008) A/B
A, B = map(int, input().split())
print(A/B)

In [ ]:
#1152) 단어의 개수
print(len(input().split()))

In [ ]:
#1157) 단어 공부
s= input().lower()
alpha= []
for i in range(97,123):
    alpha.append(s.count(chr(i)))
print('?'if alpha.count(max(alpha))>1 else chr(alpha.index(max(alpha))+97).upper())

In [ ]:
#1330) 두 수 비교하기
A, B = map(int, input().split())
if A > B: print('>')
elif A == B: print('==')
else: print('<')

In [ ]:
#1546) 평균
N = int(input())
scores = list(map(int, input().split()))
max = max(scores)
for i in range(len(scores)):
    scores[i] = scores[i]/max*100
    
print(sum(scores)/len(scores))

In [ ]:
#2438) 별 찍기 -1
for i in range(1, int(input())+1): print(i*'*')

In [ ]:
#2439) 별 찍기 -2
star = int(input())
for i in range(1, star+1): print((star-i)*' '+i*'*')

In [ ]:
#2475) 검증수
s = list(map(int, input().split()))
print(sum([i*i for i in s])%10)

In [ ]:
#2562) 최댓값
arr=[int(input())for i in range(9)]
print(max(arr),arr.index(max(arr))+1)

In [ ]:
#2577) 숫자의 개수
A = int(input())
B = int(input())
C = int(input())
num = str(A*B*C)
print(num)
for i in range(10):
    print(num.count(str(i)))

In [ ]:
#2675) 문자열 반복
T = int(input())
for i in range(T):
    R, S = map(str, input().split())
    for j in S:
        print(int(R)*j, end = '')
    print()

In [ ]:
#2739) 구구단
N = int(input())
for i in range(1, 10):
    print('{} * {} = {}'.format(N, i, N*i))

In [ ]:
#2741) N 찍기
for i in range(1, int(input())+1): print(i)

In [ ]:
#2742) 기찍 N
for i in range(int(input()), 0, -1): print(i)

In [ ]:
#2753) 윤년
year = int(input())
if year%4 == 0 and (year%100 != 0 or year%400 == 0): print(1)
else: print(0)

In [ ]:
#2884) 알람 시계
a,b=map(int,input().split())
num=a*60+b-45
print(num//60%24,num%60)

In [ ]:
#2908) 상수
A, B = input().split()
print(int(max(A[::-1], B[::-1])))

In [ ]:
#2920) 음계
s = list(map(int, input().split()))
if s == sorted(s):
    print('ascending')
elif s == sorted(s, reverse = True):
    print('descending')
else:
    print('mixed')

In [ ]:
#3052) 나머지
a = set()
for i in range(10):
    a.add(int(input())%42)
    
print(len(a))